
lib/*.o
lib/*.ppu
lib/*.a
lib/*.compiled
lib/
src/*.lrj
binary/*
!binary/resources/




# macos
.DS_Store
*.dylib

# laz
backup/

#examples/
lib/
templates/standard_game/
*.lps
*.lrj
# GNU+Linux
*.so
*.lrj
*.pot
